@import "./style.css";

main {
    background-color: var(--marine);
    padding: 5px 10px;
    margin-top: 7vh;
    width: 100vw;
    padding-left: 5vh;
    margin-right: 5vh;
}

main * {
    color: var(--marine);
} main a {
    color: var(--red);
    text-decoration: underline;
}

.discuss, .discuss-right {
    margin-bottom : 12px;
    border-bottom: solid var(--red);
    background-color: var(--white);
}