/* Imports de fichiers CSS pour simplifier le code */
@import "./navbar.styles.css";
@import "./footer.style.css";

/* Création de variables CSS pour la couleur */
:root {
    --black     : #191a20;
    --skyblue   : #3cb3fb;
    --red       : #bb0c0d;
    --gray      : #949a9e;
    --marine    : #0e698d;
    --sylver    : #4f8ba6;
    --white     : #f3f3f3;
} ::selection {
    background-color: var(--marine);
    color: var(--skyblue);
}

/* Styles par défaut */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    list-style: none;
    text-decoration: none;
}

/* Corps de la page */
body { background-color: var(--black);}

nav, main, footer {
    background-color: var(--marine);
    padding: 5px 10px;
    margin-top: -8px;
    margin-left: -10px;
}