@import "./navbar.style.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: black;
    list-style-type: none;
}

main * {
    color: white;
}